/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2018, 10:01:37 AM
    Author     : Norm
*/


@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,400i,600,700,800");
$menu-background-color: #E1C37D; //#C3B78E; // #C2B993; // #d4cd96;
$menu-background-color1: #E5D087; // #F6F8F9;
$menu-background-color2: #CBB87C; // #F6F8F9;
%menu-background {
    // background-image: linear-gradient(to right, $menu-background-color1, $menu-background-color2);
    opacity: 1;
}

@import "common";

$max-page-width: 1200px;

.spacer30 {
    height: 30px;
}
.spacer20 {
    height: 20px;
}
.spacer10 {
    height: 10px;
}

@font-face {
    font-family: "WizardsMagic";
    src: url("../fonts/Wizards Magic.ttf");
}

@mixin wizard-font {
    font-family: WizardsMagic;
    font-size: 16;
    font-weight: bold;
}
@mixin dancing-font {
    font-family: "Dancing Script", cursive;
    font-size: 64px;
    font-weight: bold;
}

@mixin min-mixin($arg) {
    @media screen and (min-width: $arg) {
        @content;
    }
}

@mixin min-max-mixin($arg1, $arg2) {
    @media screen and (min-width: $arg1) and (max-width: $arg2) {
        @content;
    }
}

@mixin max-mixin($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}
$font-size: 16px;

main {
    width: 100%;
    max-width: $max-page-width;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;

    .php-output {
        color: red;
        font-family: Arial;
        font-size: 22px;
    }

    .text {
        .large-text {
            font-size: 62px;
        }
        .under-construction {
            font-size: 16px;
        }
    }

    .small-text {
        font-size: 28px;
        letter-spacing: 2px;
        word-spacing: -10px;
        font-weight: bold;
    }
    @include dancing-font;
    /*  font-family: 'Allura', cursive;
      font-family: 'Zeyada', cursive;*/


    .contact-container {
        background-image: url("../images/hero_contact.png");
        width: 100%;
        // position: relative;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        text-align: center;
        // padding-left: 15%;
        @include max-mixin(350px) {
            padding-left: 0;
        }

        .form-container {
            // border: 3px solid red;
            background-color: rgba(19,83,76,.7); 
            // background-color: #ccc; //#13534c;
            border-radius: 10px;
            color: white;
            text-align: left;
            font-family: "Open Sans";
            font-size: 14px;
            width: 50%;
            min-width: 250px;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 25px;
            @include max-mixin(350px) {
                // padding-left: 5px;
                width: 100%;
                margin-left: 0;
            }

            .contactform {
                // padding-top: 25px;
                // @include max-mixin(600px) {
                //     padding-top: 20px;
                //     padding-bottom: 20px;
                // }
                border: 0px solid blue;
                width: 100%;
                text-align: center;
                @include max-mixin(350px) {
                    // padding-left: 5px;
                    width: 100%;
                    margin-left: 0;
                }
    
                .diagnostic {
                    color: red;
                    font-weight: bold;
                    font-style: italic;
                }

                textarea {
                    height: 190px;
                    height: auto;
                    /*width: 400px;*/
                    width: 100%;
                }
                label {
                    width: 99%;
                    text-align: left;
                    font-style: italic;
                    display: block;
                    margin-bottom: 4px;
                }

                input {
                    width: 99%;
                    border: 1px #ccc solid;
                    background-color: #f5f5f5;
                    padding: 5px;
                    margin-bottom: 10px;
                    color: #000000;
                }
                textarea {
                    width: 99%;
                    border: 1px #ccc solid;
                    background-color: #f5f5f5;
                    padding: 5px;
                    resize: none;
                    color: #000000;
                }

                // .submit {
                //     width: 50%;
                //     /*margin: 10px 0 20px 0;*/
                //     cursor: pointer;
                //     color: #444;
                //     color: red;
                //     font: 16px "Oswald", Verdana, Helvetica, sans-serif;
                //     font-weight: normal;
                //     padding: 2px 18px;
                //     text-decoration: none;
                //     background-color: #13534c;
                //     // background: linear-gradient(#f8f8f8, #d8d8d8);
                //     // border: solid 1px #d8d8d8;
                //     border-radius: 5px;
                //     cursor: pointer;
                // }
                // .submit:hover {
                //     text-decoration: none;
                //     color: #fff;
                //     color: #13534c;
                //     // background-color: #7b88c5;
                //     // background: linear-gradient(#7b88c5, #435299);
                //     border: solid 1px #435299;
                //     border-radius: 10px;
                // }
                input[type=text], select {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                  }
                  
                  input[type=submit] {
                    width: 100%;
                    // background-color: #4CAF50;
                    background-color: rgba(19,83,76,.5); 
                    color: white;
                    padding: 14px 20px;
                    margin: 8px 0;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                  }
                  
                  input[type=submit]:hover {
                    background-color: rgba(19,83,76,1); 
                    border: 10px;
                  }
                  
            }
        }
    }
}
