/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2018, 10:01:37 AM
    Author     : Norm
*/

@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,400i,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap"); // $menu-background-color: #13534C;
@import "common";
// $menu-background-color: #DBE3F6;
body {
    background-color: #f0f0f0;
}

.header-logo {
    // border: 3px solid red;
    background-color: $menu-background-color;
    color: white;
    font-weight: bold;
    height: 120px;
    // width: 300px;
    padding-left: 25px;
    @include max-width-mixin(400px) {
        padding-left: 0px;
    }
    padding-top: 25px;
    @include max-width-mixin(800px) {
        // padding-left: 10px;
        // padding-top: 0px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        // border: 3px solid red;
        font-family: "Parisienne";
        font-weight: normal;
        font-size: 48px;
        // letter-spacing: 1.2px;
        // word-spacing: 10px;
        // @include max-width-mixin(900px) {
        //     font-size: 48px;
        //     text-align: left;
        //     // padding-top: 20px;
        // }
        // @include max-width-mixin(800px) {
        //     padding-top: 20px;
        // }
        @include max-width-mixin(450px) {
            font-size: 44px;
            text-align: left;
            padding-top: 20px;
            padding-left: 0px;
        }
        @include max-width-mixin(420px) {
            font-size: 42px;
            text-align: left;
            padding-top: 20px;
        }
        @include max-width-mixin(400px) {
            // font-size: 40px;
            text-align: left;
            padding-top: 20px;
            margin: 0 auto;
        }
        @include max-width-mixin(360px) {
            font-size: 36px;
            text-align: left;
            padding-top: 20px;
            margin: 0 auto;
        }
        @include max-width-mixin(315px) {
            font-size: 34px;
            text-align: left;
            padding-top: 20px;
            margin: 0 auto;
        }
        .s-font {
            font-family: "Great Vibes", cursive;
            font-weight: normal;
        }
    }

    &__sub-title {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
        font-size: 13px;
        @include max-width-mixin(450px) {
            font-size: 12px;
        }
        @include max-width-mixin(400px) {
            font-size: 10px;
            // display: none;
        }
    }
}

main {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    /*word-spacing: -5px;*/
    /*letter-spacing: 20px;*/
    $breakpt1: 750px;
    // position: relative;
    .php-output {
        color: red;
        font-family: Arial;
        font-size: 22px;
    }

    .text {
        .large-text {
            font-size: 62px;
        }
        .under-construction {
            font-size: 16px;
        }
    }
    .small-text {
        font-size: 28px;
        letter-spacing: 2px;
        word-spacing: -10px;
        font-weight: bold;
    }
    @include dancing-font;

    .container {
        // border: 3px solid red;
        max-width: 1200px;
        background-image: url("../images/country-river-scene.jpg");
        width: 100%;
        // height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right bottom;
        height: 89vh;
        position: relative;

        h1 {
            // border: 3px solid blue;
            // text-align: left;
            // font: Regular 50px/55px Chilanka;
            font-family: "Chilanka", cursive;
            font-size: 50px;
            // @include max-width-mixin(500px) {
            //     font-size: 40px;
            // }
            @include max-width-mixin(1200px) {
                font-size: 4vw;
                font-size: calc(4vw + 10px);
            }
            @include max-height-mixin(900px) {
                font-size: 5vmin;
                font-size: calc(5vmin + 10px);
            }
            letter-spacing: 0px;
            color: #13534c;
            color: white;
            opacity: 1;
            position: absolute;
            top: 10%;
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }


        .content {
            border: 3px solid blue;
            margin: 0;
            padding: 0;
            // width: 780px;
            width: 40vw;
            position: relative;
            top: 25%;
            @include max-width-mixin(750px) {
                display: flex;
                flex-direction: column;
            }

            left: 50%;
            transform: translateX(-50%);
            height: 600px;
            height: 55vh;
            // height: 65vh;

            @include max-width-mixin(750px) {
                transform: translateX(0%);
                height: 90vh;
                width: 100%;
            }

            // width: 100%;
            @include max-width-mixin(800px) {
                // transform: scaleX(90%);
            }

            $contentBreakPt: 700px;

            .products {
                width: 390px;
                // width: 6em;
                // width: 25vw;
                width: 50%;

                position: absolute;
                // left: 41.5%;
                // bottom: 25%;
                left: 190px;
                top: 68px;

                top: 0;

                left: 2.9em;
                left: 28%;


                @include max-width-mixin(750px) {
                    display: none;
                }
            }

            .sarah-info {
                // border: 3px solid black;
                width: 250px;
                width: 35%;

                height: 300px;
                position: absolute;
                left: 520px;
                top: 50%;

                top: 5em;
                top: 45%;

                left: 8em;
                left: 70%;

                @include max-width-mixin(750px) {
                    top: 25%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 250px;
                }
                @include max-height-mixin(750px) {
                    top: 25%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 250px;
                }
                @include max-height-mixin(700px) {
                    width: 200px;
                    top: 25%;
                    // display: none;
                }
                @include max-height-mixin(650px) {
                }

                .sarah-image {
                    // width: 250px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 36px;
                    font-weight: normal;
                    color: white;
                    .box32 {
                        font-size: 16px;
                        font-weight: bold;
                    }

                    img {
                        width: 240px;
                        width: 7em;
                        width: 90%;
                    }
                }
                .sarah-text {
                    // border: 3px solid red;
                    // width: 100%;
                    // position: absolute;
                    // right: 45px;
                    // bottom: 50px;

                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    font: Regular 24px/29px Raleway;
                    // font-size: 24px;
                    font-family: "Raleway", sans-serif;
                    letter-spacing: 0px;
                    color: #ffffff;
                }
            }
            .wild-gathered {
                // border: 3px solid red;
                // width: 50%;
                position: absolute;
                left: 20px;
                top: 80%;

                left: 4%;
                top: 85%;

                text-align: left;
                font-family: "Raleway", sans-serif;
                font-size: 35px;
                font-weight: 600;
                letter-spacing: 0px;
                color: #ffffff;

                // @include max-height-mixin(500px) {
                //     // font-size: 30px;
                //     top: 80%;
                // }
                // @include max-height-mixin(600px) {
                //     top: 85%;
                // }
                @include max-height-mixin(900px) {
                    font-size: 5vmin; //5vh;
                }
                @include max-width-mixin(1200px) {
                    font-size: 3vw;
                    // font-size: calc(4vw + 10px);
                }
                // @include max-height-mixin(900px) {
                //     font-size: 5vmin;
                //     // font-size: calc(5vmin + 10px);
                // }
    
                @include max-width-mixin(750px) {
                    padding: 0;
                    margin: 0;
                    top: 70%;
                    left: 0;
                    width: 100%;
                    height: auto;
                    text-align: center;
                    font-size: 35px;
                }
            }

            .local-specials {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 30px;
                color: #93999a;
                width: 100%;
                height: 400px;
                position: absolute;
                top: 40%;
                left: 0%;

                width: 193px;
                width: 30%;
                height: 125px;
                height: 28%;
                background-color: #fae0e0;
                // width: 160px;
                // height: 110px;
                // transform: matrix(1, -0.02, 0.02, 1, 0, 0);
                transform: rotate(-20deg);
                // border: 3px solid #13534c;
                opacity: 1;
                // margin: 50px;
                .inside-box {
                    position: relative;
                    top: 12px;
                    left: 16px;
                    box-sizing: border-box;
                    background-color: #fae0e0;
                    width: 85%;
                    height: 80%;
                    border: 3px solid #13534c;
                    color: #13534c;
                    opacity: 1;
                    font-weight: bold;
                    font-size: 28px;
                    font-size: 90%;
                    padding-top: 5px;

                    width: 5em;
                }

                @include max-width-mixin(750px) {
                    display: none;
                }
            }
        }
    }
    //*******************************************************

    .links {
        // border: 3px solid red;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 25px;
        color: white;
        display: flex;
        justify-content: space-around;
        @include max-width-mixin(600px) {
            flex-direction: column;
        }
        // min-width: 900px;
        a:link {
            text-decoration: none;
        }

        .link-block {
            width: 100%;
            position: relative;
            h2 {
                width: 100%;
                color: white;
                font-size: 28px;
                font-family: Arial, Helvetica, sans-serif;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            img {
                width: 100%;
            }
            &:first-child {
                padding-right: 20px;
                @include max-width-mixin(600px) {
                    padding-right: 0;
                }
            }
        }

        .box-links {
            // border: 3px solid red;
            border: 1px dashed black;
            max-width: 600px;
            width: 50vw;
            height: 375px;
            height: 35vh;
            color: white;
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
            padding-top: 20px;
            border: 1px solid white;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        // .jams-mobile {
        //     background-image: url("../images/jamsa.jpg");
        // }
        // .boards-mobile {
        //     background-image: url("../images/pig_board3a.jpg");
        // }
    }

    //*******************************************************
    .content-lower {
        //     border: 3px solid blue;
        // display: none;
        width: 100%;
        // width: 750px;
        // max-width: 750px;
        margin: 0 auto;
        margin-top: 25px;
        // @include max-width-mixin(750px) {
        //     margin: 0 auto;
        //     width: 100%;
        //     max-width: 600px;
        // }
        // @include max-width-mixin(600px) {
        //     max-width: 400px;
        // }
        // // padding-top: 50px;
        // display: grid;

        // @include max-width-mixin(750px) {
        //     justify-content: left;
        //     width: 90%;
        // }
        // @include max-width-mixin(400px) {
        //     width: 100%;
        // }
        // grid-template-columns: 1fr 1fr;
        // @include max-width-mixin(750px) {
        //     grid-template-columns: 1fr;
        //     margin: 0 auto;
        // }

        .visit {
            font-family: "Raleway";
            border: 1px solid black;
            margin-top: 25px;
            padding-top: 25px;
            width: 100%;
            margin: 0 auto;
            text-align: left;
            padding-left: 100px;
            padding-right: 100px;
            @include max-width-mixin(900px) {
                padding-left: 20px;
                padding-right: 20px;
            }
            font-size: 20px;

            .heading {
                text-align: center;
                font-size: 32px;
            }
        }
    }
}
