/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 29, 2018, 10:01:37 AM
    Author     : Norm
*/
@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans:400,400i,600,700,800");
// $menu-background-color: #13534C;
@import "common";

main {
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    /*word-spacing: -5px;*/
    /*letter-spacing: 20px;*/

    .php-output {
        color: red;
        font-family: Arial;
        font-size: 22px;
    }
    .text {
        .large-text {
            font-size: 62px;
        }
        .under-construction {
            font-size: 16px;
        }
    }
    .small-text {
        font-size: 28px;
        letter-spacing: 2px;
        word-spacing: -10px;
        font-weight: bold;
    }
    @include dancing-font;
    /*  font-family: 'Allura', cursive;
      font-family: 'Zeyada', cursive;*/

    .content {
        // // border: 3px solid red;
        // // sherman_lake.png

        // background-image: url("../images/rake2.png");
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center;
        // width: 100%;
        // height: auto;
        // height: 80vh; //500px;
        // margin: 0 auto;
        // text-align: center;
        // display: flex;
        // justify-content: center;
        // // background-size: cover;
        // // background-repeat: no-repeat;
        // // background-position: center;

        // .box {
        //     // border: 3px solid red;
        //     width: 100%;
        //     height: auto;
        //     width: 300px;
        //     height: 200px;
        //     color: white;
        //     font-family: Arial, Helvetica, sans-serif;
        // }

        // .box0 {
        //     img {
        //         width: 100%;
        //         justify-self: center;
        //         margin: 0 auto;
        //     }
        // }
    }


    .top-section {
        // border: 3px solid red;
        // background-image: url("../images/rake2.png");
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        // background-color: rgba(19, 83, 76, 0.3);
        // max-width: 1400px;
        // margin: 0 auto;
        // background-image: linear-gradient(to right bottom, rgba(19, 83, 76, 0.5), rgba(19, 83, 76, 0.65)),
        //     url("../images/rake2.png");

        background-image: url("../images/rake2.png");
        // background-color: rgba(19, 83, 76, .65);

        height: 550px;
        height: 700px;
        height: 85vh;

        // *******************************************************************

        .top-content {
            // border-radius: 15px;

            padding: 20px;
            // padding-top: 100px;
            // color: rgba(19, 83, 76, 1);
            color: white;
            max-width: 1200px;
            min-width: 720px;
            width: 100%;
            height: 85vh;
            margin: 0 auto;
            display: grid;
            padding-left: 100px;
            // grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas:
                // "tag-line tag-line tag-line tag-line"
                "tag-line tag-line sarah-pic sarah-pic"
                "bheading bheading sarah-pic sarah-pic"
                 "bheading bheading top-box top-box"
                 "bheading bheading top-box top-box"
                "boothbay boothbay boothbay boothbay";

            // @include max-mixin(600px) {
            //     grid-template-areas:
            //         "tag-line tag-line"
            //         "bheading bheading"
            //         "boothbay sarah-pic"
            //         "boothbay sarah-pic";
            //     min-width: 250px;
            // }
            @include max-mixin(600px) {
                grid-template-areas:
                    "tag-line"
                    "bheading"
                    "sarah-pic"
                    "boothbay";
                min-width: 250px;
            }
            @include max-mixin(925px) {
                padding-left: 0;
            }
            @include max-mixin(740px) {
            }
            @include max-mixin(400px) {
                // width: 100%;
            }

            .top-box {
                // border: 3px solid red;
                // grid-area: top-box;
                // width: 440px;
                // height: 200px;
                // width: 80vw;
            }

            .tag-line1 {
                display: none;
                // border: 3px solid blue;
                width: 100%;
                height: 300px;
                // grid-column: 1 / span 4;
                // grid-row: 1 / span 1;
                grid-area: tag-line;
                font-size: 24px;
                font-weight: bold;
                // font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                font-family: "Chilanka", cursive;
                font-weight: bold;
                // display: flex;
                justify-content: left;
                justify-self: left;
                text-align: left;
                // padding-left: 10px;
                // padding-left: 10px;

                @include max-mixin(600px) {
                }
                // @include max-mixin(550px) {
                //     font-size: 20px;
                // }
                // @include max-mixin(400px) {
                //     font-size: 16px;
                //     width: 90%;
                //     // padding-left: 10px;
                // }
                // @include max-mixin(320px) {
                //     width: 80%;
                // }
            }
            .jams-heading {
                // border: 3px solid blue;
                width: 100%;
                width: auto;
                grid-area: bheading;
                // border: 3px solid blue;
                // grid-column: 1 / span 4;
                // grid-row: 2 / span 1;
                font-size: 40px;
                font-family: "Raleway", sans-serif;
                text-align: center;
                // color: white;
                font-weight: bold;
                .jams-heading__text {
                    background-color: rgba(19, 83, 76, .5);
                }
                @include max-mixin(800px) {
                    padding-left: 0px;
                    font-size: 36px;
                }
                @include max-mixin(600px) {
                    padding-left: 0px;
                    font-size: 32px;
                    width: 100%;
                    // width: 400px;
                    // padding-left: 25px;
                    text-align: center;
                }
                @include max-mixin(500px) {
                    font-size: 24px;
                }
            }
            .boothbay {
                grid-area: boothbay;
                background-color: rgba(19, 83, 76, .5);
                // border: 3px solid red;
                // background-color: rgba(19, 83, 76, .5);
                width: 100%;
                text-align: center;
                font-size: 24px;
                font-family: Arial, Helvetica, sans-serif;
                align-self: center;

                .boothbay__span {
                    height: auto;
                    width: auto;
                    background-color: rgba(19, 83, 76, .5);
                }

                @include max-mixin(600px) {
                    font-size: 22px;
                    padding-left: 15px;
                    text-align: center;
                }
                // @include max-mixin(500px) {
                //     display: none;
                //     font-size: 16px;
                // }
                // @include max-mixin(400px) {
                //     font-size: 16px;
                //     padding-left: 10px;
                // }
            }
            .sarah-pic {
                // border: 3px solid red;
                grid-area: sarah-pic;
                width: 100%;
                text-align: right;
                margin: 0 auto;
                justify-self: center;
                // padding-top: 20px;

                // padding-left: 100px;
                img {
                    min-width: 150px;
                    max-width: 200px;
                }
                @include max-mixin(600px) {
                    text-align: center;
                }
                .sarah-cert {
                    // border: 3px solid red;
                    background-color: rgba(19, 83, 76, .5);
                    grid-area: sarah-cert;
                    width: 100%;
                    font-size: 16px;
                    font-family: Helvetica Neue;
                    padding-left: 0px;
                    justify-self: right;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    // padding-left: 400px;
                    @include max-mixin(900px) {
                        // padding-left: 300px;
                    }
                    @include max-mixin(600px) {
                        // display: none;
                    }
                }
            }
        }
    }

    // *********************************************************************

    $breakPt2: 700px;
    $breakPt3: 500px;

    .size-text-narrow {
        // border: 3px solid green;
        padding-top: 50px;
        display: none;
        height: 0;
        font-family: Raleway;
        font-size: 24px;
        color: #000000;
        font-weight: normal;
        text-align: center;
        // padding-left: 25px;
        @include max-mixin($breakPt2) {
            display: block;
            height: auto;
        }
        @include min-mixin($breakPt3) {
            padding-bottom: 60px;
        }
    }

    .middle-section {
        // border: 3px solid blue;
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-content: end;
        column-gap: 25px;
        @include max-mixin(750px) {
            column-gap: 2px;
        }
        max-width: 1100px;
        max-height: 500px;

        @include max-mixin($breakPt2) {
            max-height: 180px;
        }
        @include max-mixin(550px) {
            max-height: 150px;
        }

        .middle-box {
            // border: 3px solid red;
        }

        .size-text {
            // grid-area: text;
            grid-column: 1 / span 2;
            grid-row: 1 / span 1;
            width: 100%;
            font-size: 32px;
            // font-size: 60%;
            font-family: Raleway;
            font-weight: normal;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-self: center;

            @include max-mixin(1020px) {
                font-size: 28px;
            }
            // @include max-mixin(900px) {
            //     font-size: 22px;
            // }
            // @include max-mixin(750px) {
            //     font-size: 18px;
            // }

            @include max-mixin($breakPt2) {
                display: none;
            }
        }
        .small-jam {
            // grid-area: small;
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;
            // display: flex;
            // flex-direction: column;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            img {
                width: 164px;
                height: 164px;
                width: 75%;
                height: auto;
                align-self: center;
                @include max-mixin($breakPt3) {
                    display: none;
                }
            }
        }
        .medium-jam {
            // grid-area: medium;
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            img {
                width: 210px;
                height: 210px;
                width: 75%;
                height: auto;
                align-self: center;
                @include max-mixin($breakPt3) {
                    display: none;
                }
            }
        }
        .large-jam {
            // grid-area: large;
            width: 100%;
            height: 100%;
            grid-column: 3 / span 2;
            grid-row: 1 / span 2;
            // width: 440px;
            // height: 440px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            img {
                // width: 429px;
                width: 100%;
                height: auto;
                align-self: center;
                @include max-mixin($breakPt3) {
                    display: none;
                }
            }
        }

        .spec-text {
            font-family: Raleway;
            font-size: 24px;
            color: #000000;
            font-weight: normal;
            @include max-mixin(800px) {
                font-size: 20px;
            }
            @include max-mixin(500px) {
                font-size: 16px;
            }

            @include max-mixin($breakPt2) {
                // display: none;
            }
        }
    }

    // ********************************************************************
    $breakpt1: 700px;
    .jams {
        // border: 3px solid blue;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 1600px;
        @include max-mixin(1450px) {
            grid-template-columns: 1fr 1fr;
            max-width: 770px;
        }
        @include max-mixin($breakpt1) {
            padding-left: 0px;
            grid-template-columns: 1fr;
            margin: 0 auto;
            text-align: center;
            justify-items: center;
        }
        @include max-mixin(350px) {
            justify-items: left;
            text-align: left;
        }

        .jam-box {
            // border: 3px solid red;
            // width: 350px;
            // height: 350px;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            // justify-self: stretch;
            font-size: 20px;
            padding-left: 0px;
            margin: 0 auto;
            text-align: left;
            justify-items: center;
            @include max-mixin($breakpt1) {
                padding-left: 0px;
                text-align: left;
                justify-items: left;
            }
            // padding-left: 10px;
            // padding-right: 10px;
        }
    }
    .image {
        @include max-mixin(350px) {
            padding-left: 0;
        }
        img {
            height: 350px;
            width: 350px;
            @include max-mixin(350px) {
                height: 300px;
                width: 300px;
            }
        }
    }

    .copy {
        max-width: 350px;
        text-align: left;
        border: 1px solid black;
        // margin-bottom: 15px;
        padding-left: 10px;
        padding-top: 20px;
        margin-bottom: 50px;
        height: 98.5%;
        @include max-mixin(350px) {
            // max-width: 300px;
            // padding-left: 0;
            // text-align: left;
            // justify-items: left;
        }
        @include max-mixin(350px) {
            height: 340px;
            width: 300px;
        }
        @include max-mixin($breakpt1) {
            padding-left: 0px;
            text-align: left;
            justify-items: left;
            padding-left: 10px;
            padding-right: 10px;
        }

        .logo {
        }
        .name {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 32px;
            font-weight: bold;
            @include max-mixin(350px) {
                font-size: 28px;
            }
        }
        .text {
            font-size: 16px;
        }
        .button-box {
            text-align: center;
            margin: 0 auto;
            align-items: center;

            .jam-button {
                background-color: #13534c;
                width: 193px;
                height: 30px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 20px;
                border-radius: 15px;
                color: white;
            }
        }
    }
    .filler {
        display: none;
        @include max-mixin(1450px) {
            padding-left: 0px;
            grid-template-columns: 1fr;
            display: none;
        }
    }
}
